.fourth-section{
    background-color: #a8864b;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 592px;
    padding-bottom: 110px;
    padding-top: 110px;
    opacity: .7;
}
.fourth-section .section-title{
    margin-bottom: 70px;
    text-align: center!important;
}
.fourth-section .section-title h2{
    color: #fff;
}
.block-container{
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
}
.inner-block{
    width: 94%;
    border-radius: 50px;
    padding-bottom: 110px;
    padding-top: 110px;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    margin-left: 40px;
    background-color: rgb(255,255,255)
}
.inner-block .grid-section{
    background-color: rgb(255,255,255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 29px;
    width: 22%;
}
.inner-block .grid-section:hover{
    background-color: #a8864b;
}
.inner-block .grid-section:hover h5{
    color: #fff;
}
.inner-block .grid-section:hover p{
    color: #fff;
}
.inner-block .grid-section:hover .service-icon{
    background-color: inherit;
}
.inner-block .grid-section .service-icon{
    background-color:rgb(255,255,255) ;
    margin: 0px 0 15px 55px;
    /* align-items: center; */
}
.inner-block .grid-section h5{
    margin-bottom: 25px;
    font-size: 18px;
    color: #a8864b;
    font-family: Lato,serif;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
}
.inner-block .grid-section p{
    text-align: center;
    color: #686868 ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px){

    .fourth-section{
        height: auto;
    }
    .inner-container {
        width: 95vw;
    }
    .inner-block {
        width: 100%;
        margin-left: auto;
    }
    .inner-block .grid-section {
        margin-left: 25px;
        width: 45%;
    }
    .inner-block .grid-section h5 {
        font-size: 27px;
    }
    .inner-block .grid-section p {
        font-size: 20px;
    }
    .inner-block .grid-section .service-icon {
        margin: 0px 0 21px 85px;
    }
    .service-icon img {
        width: 16vmax;
        max-height: -1px;
         max-width: -1px;
    }
}

