.eight-section{
    /* width: 100%; */
    background-color: #a8864b;
    color: #fff;
}
.eight-section .inner-container{
    display: flex;
    width: 100%;
}
.eight-section .left-side{
    width: 50%;
    /* border: 2px solid black; */
}
.eight-section .left-side img{
 width: 100%;
 height: -webkit-fill-available;
 object-fit: cover;
}
.eight-section .right-side{
    width: 50%;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    padding-left: 110px;
    /* border: 2px solid red; */
}
.eight-section .right-side h2{
    color: #fff;
    text-align: left;
    margin-bottom: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Lato,serif;

}
.contact-form {
    width: 100%;
    /* border: 2px solid; */

}
.eight-section .right-side .contact-form .input{
    width: 45%;
    padding: 25px;
    margin: 10px;
    padding-right: 50px;
}
::placeholder{
    color: #c5b08f;
    font-weight: 400;
    font-size: 16px;
    font-family: Merriweather,Georgia,serif;;
}

.contact-form .select-list{
    width: 45%;
    padding: 25px;
    margin: 10px;
    text-align: center;
    background-color: #efb44b;
    color: #fff;
    font-family: Merriweather,Georgia,serif;
    font-size: 16px;

}
.contact-form .Subject{
    width: 94%;
    padding: 25px;
    margin:10px;

}
.contact-form textarea{
    margin: 10px;
    padding: 25px;
    padding-right:30px ;
}
.contact-form a{
    background-color: #efb44b!important;
    border: 1px solid #fff;
    border-radius: 50px!important;
    color: #fff!important;
    display: inline-block;
    font-family: Lato,serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 22px 40px!important;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    width: 95%;
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px){
    .eight-section .right-side {
        padding-left: 40px !important;
    }

    .eight-section .right-side .contact-form .input {
        width: 80%;
    }
    .eight-section .right-side h2 {
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 5px;
    }
    .contact-form .Subject {
        width: 80%;
    }
    .contact-form .select-list {
        width: 80%;
    }
    .contact-form textarea {
        width: 80%;
    }
    .contact-form a {
        width: 80%;
    }
}
@media screen and (max-width: 1205px){
    .eight-section .right-side {
        padding-left: 10px;
    }
    .eight-section .section-title h2 {
        font-size: 35px;
    }
}
@media screen and (max-width: 426px){
    .eight-section .left-side img {
        display: none;
    }
    .eight-section .left-side {
        display: none;
    }
    .eight-section .right-side {
        width: 100%;
    }
}
